flows.json
[{"id":"be502aba.080528","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"99920713.6b2b48","type":"ibmiot in","z":"be502aba.080528","authentication":"apiKey","apiKey":"7680e63a.5ab1a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1988","applicationId":"","deviceType":"sona","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":120,"wires":[["df31efc7.35a8a","35e52a77.cc8ec6","15c8031f.d9984d","3d047d0f.f0ea52","368a0c90.f08944"]]},{"id":"df31efc7.35a8a","type":"debug","z":"be502aba.080528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":140,"wires":[]},{"id":"35e52a77.cc8ec6","type":"ui_gauge","z":"be502aba.080528","name":"","group":"38745012.ffbf3","order":1,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":260,"wires":[]},{"id":"15c8031f.d9984d","type":"ui_gauge","z":"be502aba.080528","name":"","group":"fa5ffea7.d80f5","order":2,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{msg.payload.temp}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":320,"wires":[]},{"id":"3d047d0f.f0ea52","type":"ui_gauge","z":"be502aba.080528","name":"","group":"2fd0393.c00b4c6","order":3,"width":0,"height":0,"gtype":"gage","title":"Frequency","label":"units","format":"{{msg.payload.freq}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":380,"wires":[]},{"id":"368a0c90.f08944","type":"ui_gauge","z":"be502aba.080528","name":"","group":"447c047.0aeaafc","order":0,"width":0,"height":0,"gtype":"gage","title":"amplitude","label":"units","format":"{{msg.payload.apmlitude}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":460,"wires":[]},{"id":"46a5e0b4.18139","type":"cloudant out","z":"be502aba.080528","name":"","cloudant":"","database":"iotdata","service":"node-red-myuwb-2020--cloudant-1601471016461-71041","payonly":true,"operation":"insert","x":730,"y":60,"wires":[]},{"id":"7680e63a.5ab1a8","type":"ibmiot","z":"","name":"newapi","keepalive":"60","serverName":"3ot3ir.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"38745012.ffbf3","type":"ui_group","z":"","name":"Pulse","tab":"fb948b43.366158","order":2,"disp":true,"width":"6","collapse":false},{"id":"fa5ffea7.d80f5","type":"ui_group","z":"","name":"temp","tab":"fb948b43.366158","order":4,"disp":true,"width":"6","collapse":false},{"id":"2fd0393.c00b4c6","type":"ui_group","z":"","name":"freq","tab":"fb948b43.366158","order":5,"disp":true,"width":"6","collapse":false},{"id":"447c047.0aeaafc","type":"ui_group","z":"","name":"amplitude","tab":"fb948b43.366158","order":3,"disp":true,"width":"6","collapse":false},{"id":"fb948b43.366158","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]